*.pyc
*.DS_Store
/Data/*.csv
/Data/npz/npz_tpl/
dev/*
draft.ipynb
/Data/npz/npz_Hieu_fwd_log/
/Data/model/model_regression_free_sub.pt
/Data/model/model_regression_free.pt
/Data/model/model_regression_free.pt
/Data/npz/npz_DD_xtb/
/Data/npz/npz_DD_xtb_free/
/Data/model/model_regression.pt
/Data/model/model_regression_Hieu_filter_fwd.pt
/Data/model/model_regression_Hieu_filter_bwd.pt