*.pyc
*.DS_Store
/Data/*.csv
/Data/npz/npz_tpl/
Data/model/model_50k_ba_sum1.pt
Data/model/model_50k_ba_sum2.pt
Data/model/model_50k_ba_sum3.pt
Data/model/model_50k_sum1.pt
Data/model/model_50k_sum2.pt
Data/model/model_50k_sum3.pt
Data/model/model_sch_ba_sum1.pt
Data/model/model_sch_ba_sum2.pt
Data/model/model_sch_ba_sum3.pt
Data/model/model_sch_sum1.pt
Data/model/model_sch_sum2.pt
Data/model/model_sch_sum3.pt
Data/model/model_tpl_ba_sum.pt
Data/model/model_tpl_sum1.pt
Data/monitor/attention.json
Data/npz/npz_50k/
Data/npz/npz_50k_ba/
Data/npz/npz_sch_ba/
Data/npz/npz_tpl_ba/

dev/*
draft.ipynb